@import url('../css/global.css');

/* ABOUT ME */
#about-me {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.about-me__info {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-me__info--container {
	width: 100%;
	max-width: 600px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
}

.about-me__picture--mask {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.4);
	margin-bottom: 28px;
	animation: bounce-scale-in 600ms 400ms backwards;
}

.about-me__picture {
	width: 100%;
	transform: scale(1.5);
	padding-top: 8px;
}

.about-me__title--wrapper {
	width: 120%;
	margin: 24px 0;
}

.about-me__title {
	animation: fade-up 600ms 400ms backwards;
}

.about-me__info--paragraph {
	margin-bottom: 28px;
	animation: fade-up 600ms 600ms backwards;
}

.pipe-cursor {
	border-right: 3px solid; /* the cursor itself */
	/* white-space: nowrap; /* keeps the content on a single line */
	/* margin: 0 auto; /* to make it always at the end of the sentence */
	animation: color-blink 1s step-end infinite;
}

.underscore-cursor::after {
	content: "_"; /* content: "■"; */
	animation: opacity-blink 1s infinite;
	animation-timing-function: step-end;
	margin-left: -8px;
	line-height: 1rem;
}

.about-me__links {
	width: 100%;
	max-width: 500px;
	padding-bottom: 10px;
	border-bottom: 2px solid #242424;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	animation: fade-up 600ms 800ms backwards;
}

.about-me__link {
	color: #242424;
	padding: 0 16px;
}

.about-me__image--container {
	height: auto;
	flex: 1;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;
}

.about-me__image {
	height: 80%;
	animation: fade-in 1200ms 1000ms backwards;
}
/* END ABOUT ME */

/* SKILLS */
#skills {
	animation: fade-up 600ms 1000ms backwards;
}

.skill__list {
	width: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill {
	width: 25%;
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.skill__img--wrapper {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;
	padding: 25px 16px;
}

.skill__img {
	width: 100%;
	max-width: 100px;
	transition: all 200ms;
}

.skill:hover .skill__img {
	filter: brightness(80%);
	opacity: 0.86;
	transform: scale(0.9);
}

.skill__name {
	position: absolute;
	bottom: 0;
	/* left and right rules needed to fix position for IE -_-' */
	left: 0;
	right: 0;
	font-weight: normal;
	transform: scale(0);
	opacity: 0;
	transition: all 200ms;
}

.skill:hover .skill__name {
	transform: scale(1);
	opacity: 1;
}
/* END SKILLS */

/* PROJECTS */
#projects {
	animation: fade-up 600ms 1200ms backwards;
}

.owl-carousel .item img{
	display: block;
	width: 100%;
	height: auto;
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 0 !important;
	color: #242424;
}

.owl-prev {
	left: 0;
}

.owl-next {
	right: 0;
}

.slide__button {
	padding: 10vw 3vw;
	filter: invert(60%); /* modify percentage based on the background image */
}

.slide__button:hover {
	filter: invert(30%); /* modify percentage based on the background image */
}

.slide__button:active {
	filter: invert(60%); /* modify percentage based on the background image */
}

.slide__description {
	margin: 24px 0;
}

.slide__description--title {
	margin-bottom: 12px;
}
/* END PROJECTS */

/* HOBBIES */
#hobbies {
	animation: fade-up 600ms 1400ms backwards;
}

#hobbies .row {
	max-width: 960px;
}

.card__list {
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;
	overflow: visible;
}

.card__list--background {
	background: url(../assets/img/cards_background_placeholder.webp) no-repeat scroll 50% center;
	background-size: cover;
	animation: animate-hobbies-background 240s ease-in-out infinite;
}

@keyframes animate-hobbies-background {
	0%, 100% {
		background-position-x: 10%;
	}
	50% {
		background-position-x: 90%;
	}
}

.card--wrapper {
	width: calc(100%/4);
	max-width: 300px;
	aspect-ratio: 4/5;
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 10px;
	will-change: transform;
	transform-style: preserve-3d;
	transition: all 1000ms ease;
}

.card__front {
	width: 100%;
	height: 100%;
	position: relative;
	border: 1px solid #ffffff;
	border-radius: 10px;
	overflow: hidden;

	/* background-color: #ffffff; */
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
	
	-webkit-transform: translateZ(40px);
	transform: translateZ(40px);
}

/* Frosted glass effect */
.card__front::before {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
	backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
	content: "";
}

.card__front img {
	width: 100%;
	height: 100%;
	transform: scale(0.9, 0.9);
	/* object-fit: cover; /* use this rule if your image should be covering the full card area as a background */
}

.card__back {
	width: 85%;
	height: 88%;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	overflow: hidden;
	-webkit-transform: translate3d(-50%, -50%, -40px) rotateY(180deg);
	transform: translate3d(-50%, -50%, -40px) rotateY(180deg);
}

.card--wrapper:hover .card {
	transform: rotateY(180deg);
}

.card__back .card__back--background {
	width: 0%;
	height: 200%;
	position: absolute;
	left: -25%;
	top: -85%;
	border-radius: 100px;
	background: #ffffff;
	transition: 500ms;
	transform-origin: left;
	transform: rotate(15deg);
}

.card--wrapper:hover .card__back .card__back--background {
	width: 150%;
	transition-delay: 500ms;
}

.card__back__description {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	transition: all 200ms ease;
}

.card--wrapper:hover .card__back__description {
	opacity: 1;
	transition-delay: 800ms;
}

.card__back__description--title {
	padding: 12px 0;
}

.card__back__description--paragraph {
	/* text-align: center; */
	line-height: 1.25;
	padding: 0 6px;
}
/* END HOBBIES */

/* RESPONSIVE SECTION: PORTRAIT ORIENTATION */
@media only screen and (max-height: 1024px) and (orientation: portrait) {
	#about-me {
		/* temporarily disabled because mobile browsers usually already cover part of the viewport, maybe I'll find another solution (very unlikely) */
		/* min-height: calc(100vh - 12vh); adjusted about me section height because the first section, in portrait orientation, didn't cover the whole viewport */
	}
}

/* RESPONSIVE SECTION: BIG TABLETS (AKA THE FUCKIN' IPAD AIR AND SURFACE PRO) */
@media only screen and (max-width: 912px) {

}

/* RESPONSIVE SECTION: SMARTPHONES AND TABLETS */
@media only screen and (max-width: 768px) {

	.about-me__image {
		height: 100%;
	}

	.about-me__links {
		width: 95%;
	}

	.about-me__title--wrapper {
		width: 100%;
	}

	.skill {
		width: calc(100%/3);
	}

	.slide__button {
		display: none;
	}

	.card--wrapper {
		width: calc(100%/2);
		aspect-ratio: 5/4;
	}

	.card__back {
		width: 90%;
		height: 88%;
	}
}

/* RESPONSIVE SECTION: SMALL PHONES */
@media only screen and (max-width: 480px) {

}

/* RESPONSIVE SECTION: FUCKIN' FOLDIN' PHONES */
@media only screen and (max-width: 360px) {
	.card--wrapper {
		width: 100%;
	}
}
/* END RESPONSIVE SECTION */